@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic');

/* * * * * * * * * * * * * * * * * * * * * *\
 * Common styles
\* * * * * * * * * * * * * * * * * * * * * */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 13px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: initial;
}

.container {
  margin: auto;
}

.w-medium {
  font-weight: 500 !important;
}

.heading {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding-top: 55px;
}

.logo-box {
  display: flex;
  align-items: center;
  padding: 11px 0 19px;
}

.logo-box h2 {
  font-weight: lighter;
  font-size: 16px;
  max-width: 120px;
  margin-left: 11px;
}

/* * * * * * * * * * * * * * * * * * * * * *\
 * Main styles
\* * * * * * * * * * * * * * * * * * * * * */

/* HEADER */
.header {
  height: 100vh;
  background: #030303 url('../images/header-background.jpg') no-repeat;
  background-size: cover;
  color: #fff;
}

.header .main-heading {
  text-align: center;
  width: 400px;
  margin: auto;
  font-size: 36px;
  position: relative;
<<<<<<< HEAD
  top: 40%;
=======
  top: 50%;
  transform: translateY(-100%);
>>>>>>> 4bf0d7b4b3f0bf556a12eb14562cc68660ea100f
}

.topbar {
  background-color: rgba(0,0,0,.7);
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
}

.topbar-wrapper {
  margin: auto;
  max-width: 720px;
  display: flex;
  align-items: center;
}

.topbar .navigation {
  margin-left: 48px;
}

.navigation-list {
  display: flex;
}

.navigation-item {
  font-weight: bold;
  font-size: 16px;
}

.navigation-item:not(:first-child) {
  margin-left: 20px;
}

/* SERVICE */

.our-service {
  background: rgba(229, 229, 229, 0.8);
  padding-bottom: 110px;
}

.our-service > .container {
  max-width: 958px;
}

.services-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 24px auto 0;
}

.service-box {
  background-color: rgba(255,255,255,.5);
}

.service-box:nth-child(n+3) {
  margin-top: 33px;
}

.service {
  width: 350px;
  height: 137px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 35px;
}

.service-icon {
  width: 75px;
  height: 75px;
  margin-right: 25px;
  object-fit: contain;
}

.service-name {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: normal;
}

/* ABOUT */
.about-section > .container {
  max-width: 750px;
}

.text-about {
  text-align: center;
  margin-top: 40px;
}

.in-number-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.in-number-list-item {
  margin: 0 25px;
}

.in-number-value {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  background: #C2C0C0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.in-number-prop {
  margin-top: 10px;
  display: block;
  text-align: center;
}

/* OUR TEAM */
.our-team > .container {
  max-width: 958px;
  padding-bottom: 106px;
}

.members-list {
  margin-top: 112px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 182px;
}

.member-name {
  font-size: 15px;
  margin: 11px 0 5px
}

/* FOOTER */
.footer {
  background: #000;
  color: #fff;
}

.footer > .container {
  max-width: 720px;
  display: flex;
}

.contacts-box {
  display: flex;
  align-items: center;
}

.contacts-box .tel {
  margin: 0 30px 0 15px;
}

.sn-list {
  display: flex;
}

.sn-list-item:not(:first-child) {
  margin-left: 20px;
  width: 25px;
  height: 25px;
}

/* * * * * * * * * * * * * * * * * * * * * *\
 * Media queries
\* * * * * * * * * * * * * * * * * * * * * */

/* LAPTOB */
@media (max-width: 1024px) {
  .our-service {
    padding-bottom: 60px;
  }

  .members-list {
    margin-top: 60px;
  }

  .heading {
    padding-top: 40px;
  }

  .our-team > .container {
    padding-bottom: 60px;
  }
}

/* TABLET */
@media (max-width: 768px) {
  .topbar-wrapper,
  .footer > .container {
    max-width: 550px;
  }

  .logo-box {
    padding: 7px 0 10px;
  }

  .services-list {
    max-width: 400px;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .service {
  }

  .service-box:not(:first-child) {
    margin-top: 30px;
  }
}

/* Mobile L */
@media (max-width: 425px) {
  .header .main-heading {
    font-size: 30px;
    max-width: 350px;
  }
}
